
fieldset.jcalendar {
border:1px solid #A1A5A9;
font:.9em Arial, Helvetica, sans-serif;
}

div.jcalendar-wrapper {
width:230px;
}

div.jcalendar-selects {
padding:2px;
background:#069;
}

div.jcalendar-selects select {
font-size:100%;
}

div.jcalendar table {
background:#a1a5a9;
color:#000;
margin:5px auto;
}

div.jcalendar table th {
background:#eee;
}

div.jcalendar table td {
background:#f9f9f9;
padding:0;
width:30px;
}

div.jcalendar table th.weekend {
background:#ddd;
}

div.jcalendar table td.weekend {
background:#e9e9e9;
}

div.jcalendar table td a {
color:#333;
display:block;
line-height:1.7em;
text-align:center;
text-decoration:none;
width:30px;
}

div.jcalendar table td.today a {
background:#777;
border-color:#aaa;
color:#fff;
font-weight:700;
}

div.jcalendar table td a:hover,div.jcalendar table td a:focus,div.jcalendar table td a:active {
background:#77b0d3;
color:#fff;
padding:0;
}

div.jcalendar table td a.selected {
background:#0072b9;
color:#fff;
}

div.jcalendar-links {
margin:.4em;
text-align:center;
}

div.jcalendar-links a {
padding:.2em .4em;
}