.body_login{background:#fff; font-family:Arial, Helvetica, sans-serif;}
.judul{width:100%; height:25px; margin-bottom:10px; text-align:center; border-bottom:1px solid; background:#03C; color:#fff; font-weight:bold; padding-top:10px;}
.login{width:400px; margin-left:auto; margin-right:auto; margin-top:150px; height:350px; border:7px solid #ff0; background:#FF0  url(../gambar/bg.png) repeat; padding:10px; border-radius:4px;}
.table{width:100%;}
.selec{width:200px; height:30px; border-radius:4px;}
.form{width:255px; height:20px; padding:5px; border-radius:4px;}
.tmb{padding:5px; border-radius:4px; background:#009; color:#FFF; border-color:#009; cursor:pointer;}
.tmb2{padding:5px; border-radius:4px; background:#900; color:#FFF; border-color:#900; cursor:pointer;}
.notiv{width:100%; margin-bottom:10px; text-align:center; color:#F60;}