/*slide2*/
/* Slider */

#tuts-slider{
	margin:0px;
	padding:0px;
	margin:auto;  
	position: relative;  
	float:left;
}
#tuts-slider .bjqs{ 
	margin:0px;
	padding:0px;
	position: absolute; 
	height: 300px;
}
#tuts-slider ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
#tuts-slider .bjqs li{
	border-top:none;
	margin:0px;
	padding:0px;
	float: left;
}
#tuts-slider img{
	height: 300px; width: 1010px; float: left; 
}   