body{font-family:Calibri; margin:0px; padding:0px; background:url(../gambar/bg.png) repeat;}
a{text-decoration:none; color:#30C;}
.head{width:100%; height:90px; float:left; border-bottom:2px solid #FF0; padding:5px;margin-bottom:5px; 
border-radius:3px; background:#0066CC;}
.judul_head{font-size:25px; font-weight:bold; margin-top:15px;}
.judul_head a{color:#FF3;}
.main_view{width:1010px; margin-left:100px; margin-right:auto;}
.head_dalam{width:1010px; height:90px; padding:5px; margin-left:100px; margin-right:auto;}
.head_right{width:305px; float:left; margin-top:20px; height: 70px;}
.head_left{width:700px; float:left; color:#FFF;}
a .tombol{padding:10px; color:#FF0; float:left; margin:2px; webkit-transition: background 0.8s, box-shadow 0.5s;-moz-transition: background 0.8s, box-shadow 0.5s;transition: background 0.8s, box-shadow 0.5s;}
a:hover .tombol, a:active .tombol{background:#009; color:#FFF; border-radius:4px;}
.slide{height:300px; width:1010px; float:left; background:#CCF;}
.slide img{height:300px; width:1010px; }
.menu_drop{background:url(../gambar/tmmb.png) no-repeat; width:45px; height:34px;}
.menu_drop:hover{background:url(../gambar/tmmb3.png) no-repeat; width:50px; height:45px;}
.info_tengah{height:40px; color:#06C; width:990px; float:left; border-bottom:3px #999 solid; text-align:center; padding:10px; font-size:30px; margin-bottom:10px; background:#FF0;}
.content{width:1010px; float:left; background:#FFF; margin-top:5px;}
.content2{width:900px; float:left; background:#FFF; margin-top:5px; padding:10px;}
.menu_depan{ padding:5px; width:145px; height:120px; border:1px solid #CCC; float:left; margin:5px; border-radius:3px; text-align:center; opacity:0.8;}
.depan{height:120px;width:100%; display:inline;}
.menu_samping{ padding:5px; width:220px; height:140px;float:left; margin:5px; border-radius:3px; text-align:center; opacity:0.8;}
a:hover .menu_samping{opacity:1.0;}
a:hover .menu_depan{border:1px solid #FF0;opacity:1.0;}
.footer{ padding-left:10px;padding-right:10px; padding-top:15px; padding-bottom:5px; width:990px; height:30px; float:left; background:#f1efef url(../gambar/bg.jpg) repeat; margin-top:5px;}
.sidebar{width:241px; float:left; background:#0066CC; border-radius:3px; padding:5px; border:1px solid #CCC; color:#FFF; text-align:center; margin-top:5px;}
.sidebar a{color:#FFF;}
a .tmb_or{padding:10px; background:#009; color:#FFF; float:left; text-align:center; margin-top:10px;}
a:hover .tmb_or{background:#003; }
.content_sub{margin-top:5px; width:740px; margin-right:5px; float:left; background:#FFF; border-radius:3px; border:1px solid #CCC; padding:5px;}
.calender{background:#FFF;}
.tabel_mbl{width:100%; border-collapse:collapse; border-color:#CCC;}
.tabel_mbl td{padding:5px; }
.judul{font-size:22px; width:100%; margin:10px; font-weight:bold; color:#F00;}