
a {
color:#0072b9;
}

a:hover,a:focus,a:active {
color:#FF0522;
}

#wrapper {
background:#fff;
border:3px solid #000;
padding:3.5em 1em 1em;
}

h1 {
background:url(title.png) left no-repeat;
color:#fff;
font-size:0;
height:49px;
}
h2 {
background:#000;
color:#fff;
font-size:1.2em;
padding:.5em;
}

p {
padding:0;
}



#license {
font-size:.8em;
margin:0 auto;
padding:3em 0 0;
text-align:center;
width:60%;
}

select,fieldset {
margin:0;
padding:0;
}