body{margin:0px; padding:0px; font-family:Calibri; background:#f1efef; font-size:14px;} 
a{text-decoration:none;}
.wreaver{width:100%;}
.head{width:100%; background:url(../../gambar/bg.png) repeat #FF0; height:50px; margin-bottom:5px; position:fixed; color:#000; padding-top:20px; border-bottom:2px solid #000;}
.head_kiri{width:200px; margin-left:10px; float:left; font-size:20px; font-weight:bold; color:#F00;}
.head_kanan{width:250px; margin-right:10px; float:right; color:#000;}
.head_kanan a{color:#FFF;}
.operator{margin-right:15px; float:left; margin-top:5px;}
.operator a{color:#006;}
.operator a:hover{color:#096;}
.tabel_cari{width:550px; margin-left:10px; float:left;border-radius:4px; border:#FFF; background:#FFF; height:30px;}
.form_cari{width:505px; float:left; padding:5px; border-radius:4px; border:#FFF; height:15px;}
.tmb_cari{width:25px; height:25px; background:#FFF url(../../gambar/cari.png) no-repeat center; border:none; float:left; margin-left:2px; border-radius:4px; cursor:pointer;}
.side_menu{width:200px; float:left; background:#06F url(../../gambar/bg.png) repeat; position:fixed; height:100%;}
.side_menu a{color:#FFF;}
.side_menu li{list-style:none; padding-top:7px;padding-bottom:4px; padding-right:5px; 
padding-left:40px; cursor:pointer; height:25px;}
.side_menu li:hover,.side_menu li:active{border-bottom:#006 solid 1px; color:#006;}
.side_menu_i{width:200px; float:left; background:#900; margin-top:72px; height:100%; text-transform:capitalize;}
.side_menu_ri{width:260px; float:left; margin-top:80px; margin-left:10px; border-radius:4px;}
.side_menu_r{width:260px; float:left; background:#CCC; position:fixed; border-radius:4px;}
.content{width:720px; float:left; margin-left:10px; margin-top:80px; padding:10px; background:#FFF; border-radius:4px;}
.menu_depan{ padding:5px; width:150px; height:90px; border:1px solid #F00; float:left; margin:5px;text-align:center;}
.judul_m{color:#03C; font-size:20px; font-weight:bold;}
.item2{ background:url(../../gambar/mbl1.png) left center no-repeat;}
.item3{ background:url(../../gambar/mbl2.png) left center no-repeat;}
.item4{ background:url(../../gambar/trans.png) left center no-repeat;}
.item1{ background:url(../../gambar/mbl4.png) left center no-repeat;}
.item5{ background:url(../../gambar/mbl5.png) left center no-repeat;}
.item6{ background:url(../../gambar/orang.png) left center no-repeat;}
.item7{ background:url(../../gambar/view.png) left center no-repeat;}
.item8{ background:url(../../gambar/back.png) left center no-repeat;}
.item9{ background:url(../../gambar/seting.png) left center no-repeat;}
.item10{ background:url(../../gambar/mbl3.png) left center no-repeat;}
a .tmb_or{padding:10px; background:#009; color:#FFF; float:left; text-align:center; margin:5px; border-radius:4px;}
a:hover .tmb_or{background:#003; }
a:active .tmb_or{background:#003; }
a .tmb_on{padding:10px; background:#9F0; color:#000; float:left; text-align:center; margin:5px; border-radius:4px;}
a:hover .tmb_on{background:#0C3; }
a .tmb_ms{padding:10px; background:#333; color:#FFF; float:left; text-align:center; margin:3px; border-radius:4px;}
a:hover .tmb_ms{background:#000; }
a:active .tmb_on{background:#0C3; }
.jam{ text-align:center; color:#FFF; background:#306; width:70px; padding:10px; height:20px; margin-bottom:10px; margin-left:auto; margin-right:auto; border-radius:4px; font-weight:bold;}
.akse{float:left; width:705px; margin:5px; border:1px solid #CCC; border-radius:4px;}
.form_akse{width:310px; padding:5px; margin:5px; border-radius:4px; border:1px solid #CCC;}
.form_akse2{width:310px; padding:5px; margin:5px; } 
.tmb_akse{padding:5px; cursor:pointer;}
.tabel_akse{width:410px; margin:5px; border-collapse:collapse;}
.tabel_akse tr{height:40px; }
.tabel_akse td{padding:5px;}
.select_akse{padding:5px; margin:5px; cursor:pointer; border-radius:4px; border:1px solid #CCC;}
.select_akse3{padding:5px; margin:5px; width:75px; cursor:pointer; border-radius:4px; border:1px solid #CCC;}
.tabel_mbl{width:100%; border-collapse:collapse; border-color:#CCC;}
.tabel_mbl td{padding:5px; }
.tabel_mbl tr:hover{background:#f3f1fe;}
a .next{float:right; padding:10px; background:#F00; color:#FFF; border-radius:4px; margin:5px;}
a:hover .next{background:#C00;}
.tr{font-size:16px; color:#003; font-weight:bold; height:30px; text-align:center;}
.tr2{font-size:16px; color:#FFF; font-weight:bold; height:40px; background:url(../../images/bgtr.jpg) repeat-x;text-align:center;}
.tr3{font-size:16px; color:#FFF; font-weight:bold; height:30px; background: url(../../gambar/tritem.png) no-repeat #000;text-align:center;}
.tr3:hover{font-size:16px; color:#FFF; font-weight:bold; height:30px; background: url(../../gambar/tritem.png) no-repeat #000;text-align:center;}
.tr4{font-size:16px; color:#006; font-weight:bold; height:50px; background:#FFF url(../../gambar/trbiru.png) no-repeat;text-align:center;}
.tmb_2{background:#006; padding:5px; color:#FFF; border:#003 1px solid; cursor:pointer;}
h1{font-size:24px;; color:#063; margin-top:15px;text-transform:uppercase;}
.pesan_ok{background:#090; padding:10px; cursor:pointer; border:#030 2px solid; color:#FFF; border-radius:40px; margin-top:10px;}
.tr_bw{border-bottom:1px solid; }
.dsk{width:30px; padding:5px; margin:5px; border-radius:4px; border:1px solid #CCC;}
.notiv_pesan{background:#CF6; width:700px; margin-bottom:5px; margin-top:5px; padding:10px; color:#003;}
.notiv_pesan2{background:#F00; width:700px; margin-bottom:5px; margin-top:5px; padding:10px; color:#FFF;}
.tnd{float:right; background:#FF0; border-radius:5px; color:#000; padding-left:5px; padding-right:5px;}
.cari_ktmu{width:690px; padding:15px; border:1px solid #006; margin-bottom:5px; border-radius:4px;}
.cari_ktmu:hover{background:#CFC; border:1px solid #CFC;}
.icn_sph{background:url(../../gambar/bs2.png) no-repeat center; width:20px; height:20px;margin-left:auto;margin-right:auto;}
.icn_sph:hover{background:url(../../gambar/bs.png) no-repeat center;}
.icn_edt{background:url(../../gambar/edit2.png) no-repeat center; width:20px; height:20px;margin-left:auto;margin-right:auto;}
.icn_edt:hover{background:url(../../gambar/edit.png) no-repeat center;}
.icn_prn{background:url(../../gambar/print2.png) no-repeat center; width:20px; height:20px;margin-left:auto;margin-right:auto;}
.icn_prn:hover{background:url(../../gambar/print.png) no-repeat center;}
.nm_plg{width:540px; padding:5px; margin:5px; border-radius:4px; border:1px solid #CCC; cursor:pointer;}
.ab{background:#CCC; padding-top:3px;padding-bottom:5px; padding-left:7px; padding-right:7px; margin-left:10px; width:15px; float:right; color:#F00; border-radius:50px; text-align:center; font-weight:bold; font-size:18px;}
a:hover .ab{background:#FF0;}
.tabel_mbl2{width:100%; border-collapse:collapse; border-color:#CCC;}
.tabel_mbl2 td{padding:5px; }
.tabel_mbl2 td a{color:#000; }