.tabel{border-collapse:collapse; font-size:11px;}
.tabel td{padding:5px;}
.table tr{height:20px;}
h1{font-size:18px;}
.jdl_inv{font-size:16px;font-weight:bold; float:left; border-bottom:1px solid;}
.jdl_inv2{font-size:12px; float:left;}
.jdl_inv4{font-size:12px; font-weight:bold; float:left;}
.jdl_inv3{text-align:right; font-style:italic; font-size:14px;}
.ktns{text-align:center; font-size:22px; font-weight:bold;}
.trbl{border-bottom:2px double;border-top:2px double; width:300px; padding:10px; font-size:16px; font-style:italic;}

.jdl_lap{text-align:center; font-size:20px; font-weight:bold;}
.sub_jdl{text-align:center; font-size:12px; font-family:Constantia; margin-bottom:10px;}
.miring{font-style:italic;}
.tebel td{font-weight:bold;}
.trs td{text-align:center; font-weight:bold;}
.help_p{padding-left:25px;}